<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/myPage.css" th:href="@{/css/myPage.css}">
    <link rel="stylesheet" href="./css/header.css" th:href="@{/css/header.css}">
    
    <script th:src="@{/script/jquery-3.7.0.min.js}" src="./script/jquery-3.7.0.min.js"></script>
    <script defer th:src="@{/script/myPage.js}"></script>

</head>
<body class="profile">
	<input type="hidden" id="ctx" th:value="${#httpServletRequest.getContextPath()}" />
	
     <!--header start-->
           <div class="header">
            <div  class="logo">
                <a th:href="@{/}"  class="logo">TRIPCORD</a>
            </div><!--end.logo-->
           <div class="menubar">
                <ul>
					<li><a href="bankservice.html" th:href="@{/service/bankService}">환율 계산기</a></li>
                    <li sec:authorize="not isAuthenticated()"><a href="signin.html" th:href="@{/member/signin}">로그인</a></li>
                    <li sec:authorize="not isAuthenticated()"><a href="signup.html" th:href="@{/member/signup}">회원가입</a></li>
					<li sec:authorize="isAuthenticated()">[[${#authentication.name}]]님</li>
                    <li sec:authorize="isAuthenticated()"><a th:href="@{/member/signout}">로그아웃</a></li>
                    <li sec:authorize="isAuthenticated()"><a th:href="@{/member/myPage}">마이페이지</a></li>
                </ul>
            </div>

        </div> <!--end.header-->

    <div class="pfl-wrapper">
        <article>
            <div class="profile-photo"></div>
            <div class="profile-info">
                <h1>[[${#authentication.name}]]
					<small>님</small>
				</h1>
				<div class="profile-stats">
            <div class="followers">
              <span class="count">0</span>
              <span class="label">Followers</span>
            </div>
            <div class="following">
              <span class="count">0</span>
              <span class="label">Following</span>
            </div>
            <div class="posts">
              <span class="count">0</span>
              <span class="label">Posts</span>
            </div>
          </div>
          <!-- 여정등록 모달창 -->
          <p><input type="button" id="insertBtn" value="여행 등록하기" ></p>
                
            </div>
        </article>
   </div>
   
   
   
          <div class="modal_bkg hidden"></div>
          <div class="createPlan hidden">
            <h2>나의 여행</h2>
            <form th:action="@{/member/myPage}" id="insertPlanForm" method="POST">
              <p><input type="text" name="plantitle" id="plantitle" placeholder="여행 제목"></p>
              <p><input type="text" name="departure" id="departure" placeholder="출발 도시"></p>
              <p><input type="date" name="startdate" id="startdate"></p>
              <p><input type="text" name="destination" id="destination" placeholder="도착 도시"></p>
              <p><input type="date" name="enddate" id="enddate"></p>
            </form>
            <div>
					<input type="button" id="insertPlanBtn" value="여행 생성">
					<input type="button" id="closeModalBtn" value="닫기">
			</div>
          </div>
		 
	<!-- Daynum에 의한 모달창 -->
	<div class="selectDaynum hidden" >
		<p>
		<h2>여정 선택하기</h2>
		</p>
		<div class="outputModal"></div>
		<p class="temp">
		<button class="clickDaynum" value="">추가하기</button>
		</p>
		<p>
		<button id="closeDaynumModal" class="closeBtn">닫기</button>
		</p >
	</div>
	
   
   <div class="content">
   	<div class="table_frame">
   		
				<h3>Travel List</h3>
			
			<table class="responstable" >
				<thead>
					<tr>
						<th>Num</th>
					<th>Date</th>
					<th>Travel Title</th>
					<th>Plan</th>
					<th>Record</th>
					<th>Delete</th>
					</tr>
				</thead>
				<tbody>
					<tr class="planTitle" th:each="p, status : ${plan}"
					th:value="${p.planseq}">
					<td>[[${status.count}]]</td>
					<td>[[${p.startdate}]] - [[${p.enddate}]]</td>
					<td>[[${p.plantitle}]]</td>
					<td><a
						th:href="|javascript:outputDaynum(${p.planseq})|"><input
							type="button" class="updateBtn" value="여행 계획"></a></td>
					<td><a
						th:href="|javascript:moveToBudgetService(${p.planseq})|"><input
							type="button" class="budgetBtn" value="여행 기록"></a></td>
					<td><a th:href="@{/member/deletePlan(planseq=${p.planseq})}"><input
							type="button" class="deleteBtn" value="삭제"></a></td>
				</tr>
				</tbody>
  			</table>
  			
  		</div>
  		
  		<div class="outputTicket"></div>
  		
   </div>
  		
	
        <!--footer start-->
        <div class="footer">
            <div class="footer-menu">
            <ul>
                <li><a th:href="@{/}">Home</a></li>
                <li><a th:href="@{/service/bankService}">Currency Calculator</a></li>
                <li><a th:href="@{/service/mapService}">Map Service</a></li>
            </ul>
        </div>
            <div class="footer-content">
                <p class="border-bottom">&copy; 2023 FX predict. All Rights Reserved.</p>
                <div class="btn-social">
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div><!--end.footer-->
        
    
</body>
</html>